.alert {
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: #fff;
  border-radius: 5px;
  background-color: rgb(245, 84, 159);
  opacity: 1;
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}
