input,
.submit-button {
  width: 100%;
}

.submit-button {
  margin-top: 20px;
  background-color: $accent-color;
  border-style: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
}

label {
  display: inline-block;
  margin: 10px;
}

form {
  width: 90%;
  max-width: 1024px;
  font-size: 20px;
  line-height: 1.5;
  margin: 10px auto;
}

input {
  margin-bottom: 30px;
  margin-top: 10px;
}
