@media (min-width: 768px) {
  .book-info label {
    width: 150px;
  }

  .book-info {
    display: flex;
  }

  .container {
    width: 80%;
  }

  form {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .alert {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}
