@media (min-width: 768px) {
  .book-info label {
    width: 150px;
  }

  .book-info {
    display: flex;
  }

  .container {
    width: 80%;
  }
  // .trash-icon {
  //   padding: 10px 10px;
  // }
}
