/* ============================================= */
/*              Base styles                      */
/* ============================================= */

h1 {
  font-weight: 300;
  display: inline-block;
}

body {
  font-size: 0.9em;
}
